.user-show-goals-container {
  width: 312px;
  border: 1px solid gray;
  float: right;
  margin: 0 15% 0 0;
}

.user-show-goals-container .this-year:before {
  display: none;
}

.goal-chart {
  height: 115px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: -20px;
  padding: 0 10px;
}

.goal-chart .bar {
  border-bottom-style: solid;
  border-bottom-color: #79d7bd;
  opacity: 0.85;
  width: 12px;
  height: 100%;

  display: inline-block;
  box-sizing: border-box;
}

.bar span {
  font-size: 12px;
  text-align: center;
  position: absolute;
  margin: 118px 0 0 3px;
}

.bar:hover {
  opacity: 1;
}

.year-tracker {
  height: 10px;
  width: 250px;
  background: lightgrey;
  margin: 10px auto;
}

.goal-status {
  background: #79d7bd;
  height: 4px;
}

.today-label {
  opacity: 1;
  margin-top: 10px;
  color: black;
}

.today-line {
  height: 20px;
  border-left: 1px solid;
  position: absolute;
  margin-top: -22px;
}
